.App,
.root {
    height: 100%;
}
.App-header {
    width: 100%;
    text-align: center;
    padding: 20px 0 10px;
    box-sizing: border-box;
}
label {
    min-height: 19px;
}
.main-form {
    width: 90%;
    margin: auto;
    max-width: 1000px;
}
.form-inner {
    flex-wrap: wrap;
    display: flex;
}
.form-column {
    flex: 1;
    padding: 0 20px;
    margin: auto;
    min-width: 450px;
    display: flex;
    flex-direction: column;
}
.inputs-devider {
    margin-top: 30px;
}
.calendar-modal {
    z-index: 20;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
}
.calendar {
    z-index: 1;
    margin: auto;
    padding: 20px;
}
.calendar-backdrop {
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.buttons-container {
    display: flex;
    padding: 20px 0;
    justify-content: space-evenly;
}
th,
td {
    border: 1px solid;
    padding: 5px;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
